body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background:#bfe6cf;
}

.sidebar{
    width:200px;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    background:#1c5538;
    padding:20px;
    color:white;
}

.sidebar ul{
    list-style:none;
    margin-top:35px;
    padding:0;
}

.sidebar li{
    padding:12px;
    cursor:pointer;
    border-radius:6px;
}

.sidebar li.active,
.sidebar li:hover{
    background:#2c734d;
}

.sidebar .logout{
    position:absolute;
    bottom:20px;
    left:20px;
    opacity:.8;
}

.content{
    margin-left:230px;
    padding:25px;
}

.stats-boxes{
    display:flex;
    gap:25px;
    margin:20px 0;
}

.stat-box{
    background:#389d64;
    padding:25px;
    width:260px;
    border-radius:12px;
    color:white;
}

.tabs{
    display:flex;
    width:600px;
    background:#2a6c45;
    padding:4px;
    border-radius:8px;
}

.tabs button{
    flex:1;
    padding:12px;
    border:none;
    background:none;
    font-weight:bold;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.tabs .active{
    background:#3db46e;
}

.achievements-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:22px;
    margin-top:25px;
}

.achievement-card{
    background:white;
    padding:18px;
    display:flex;
    justify-content:space-between;
    border-radius:12px;
}

.points{
    font-weight:bold;
    color:#00913f;
}

.ranking{
    width:330px;
    position:fixed;
    right:0;
    top:0;
    bottom:0;
    background:#dff3e7;
    padding:25px;
    border-left:3px solid #9bd8b8;
}

.ranking ul{
    list-style:none;
    padding:0;
    margin:0;
    margin-top:20px;
}

.ranking li{
    background:white;
    padding:14px;
    margin-bottom:10px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
}

.ranking li.current{
    background:#2c734d;
    color:white;
}