<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Benefícios - Admin</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="app">

  <aside class="sidebar">
    <div class="brand">
      <div class="logo">E</div>
      <h1>Ecoloop Admin</h1>
    </div>

    <nav class="menu">
      <a th:href="@{/admin}">Início</a>
      <a class="active" th:href="@{/admin/beneficios}">Benefícios</a>
      <a th:href="@{/admin/conquistas}">Conquistas</a>
      <a th:href="@{/admin/usuarios}">Usuários</a>
      <a th:href="@{/admin/uploads}">Envios Pendentes</a>
      <a th:href="@{/dashboard}">Voltar ao usuário</a>
      <a th:href="@{/logout}">Sair</a>
    </nav>
  </aside>

  <main class="content">
    <div class="header-row">
      <h2>Benefícios</h2>
      <a class="btn" th:href="@{/admin/beneficios/novo}">Novo Benefício</a>
    </div>

    <div class="card">
      <table style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Pontos</th>
            <th>Ações</th>
			<th>Categoria</th>
			<th>Imagem</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b : ${lista}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.nome}"></td>
            <td th:text="${b.pontosNecessarios}"></td>
			<td th:text="${b.categoria}"></td>
			<td><img th:if="${b.imagemUrl != null}" th:src="${b.imagemUrl}" style="width:60px;border-radius:6px"></td>
            <td>
              <a class="btn-outline" th:href="@{'/admin/beneficios/editar/' + ${b.id}}">Editar</a>
              <a class="btn-outline" th:href="@{'/admin/beneficios/deletar/' + ${b.id}}">Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</div>

</body>
</html>
